project:
  type: website
  output-dir: docs

website:
  title: "Long Island's Dam Dilemma"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: map.qmd
        text: Map & Data
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

